button{
    padding: 10px 15px;
    background-color: #941A35;
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align:center;  }