.Form-conx{
    background-color: #2e96af;
    background-size: cover;
    background-position: center;
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    height: 100vh;
}
.Form-conx .Forme{
  background: linear-gradient(to right, #ffffff, #4aa0b0); 
  border: 2px solid #3c6881; 
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(22, 52, 92, 0.1); 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  position: fixed;
}
.FormLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13px; 
  flex: 1;  

}

.App-logo{
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 0px;
}
.Welc{
  margin: 0px;
}

.App-logo img {
  max-width: 100%;
  height: auto;

}

.FormImag {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1px;
    padding: 20px;
   
  }

.Img-conx img {
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group {
  margin-bottom: 20px;

}

.input-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input:focus {
  border-color: #fcfcfc;
}

.input-wrapper input::placeholder {
  color: #aaa;
}

.remember-forgot {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 10px; 
}

.remember-forgot label {
  font-size: 14px; 
  color: #333; 
 
}

.remember-forgot a {
  text-decoration: none; 
  font-size: 14px; 
  color: #007BFF; 
  transition: color 0.3s;
}
.Accnt{
  font-size: 14px; 
  color: #333; 
}
.Accnt .Register{
  text-decoration: none; 
  font-size: 14px; 
  color: #007BFF; 
  transition: color 0.3s;
}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid ;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group .icone{
  position: absolute;
  right: 20px;
}
.Form-quest{
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap :50px
}
.Welc{
  margin-top: 20px;
  margin-bottom: 20px;
}

.ButtonLogin{
  width: 50%;
  padding: 10px 15px;
  background-color: #941A35;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.error{
  color: "red";
  font-size: "0.9em";
  margin-bottom: "15px";
}
/* petits écrans */
@media (max-width: 768px) {
  .Form-conx {
      flex-direction: column;
      margin: 2% auto;
      padding: 10px;
  }

  .FormLog, .FormImag {
      flex: none;
      width: 100%; 
      padding: 10px;
  }
.Img-conx img{
  display: none;
}
  .App-logo img {
      width: 80%;
  }

  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 1rem; 
  }
}

/* Mobiles */
@media (max-width: 480px) {
  .App-logo img {
      width: 70%; 
  }

  h1 {
      font-size: 1.2rem; 
  }

  p {
      font-size: 0.9rem;
  }

  .FormImag img {
      display: none; 
  }
}