
.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 6px;
    border: 2px solid #ddd;
}

.search-input {
  width: 100%;
  padding: 7px;
  border:none;
}
.notification{
  margin-top:6px;
}