.App-header {
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /* height: 100vh;*/
}
img{
 
}
.App-header .App-logo img{
  margin-top: 30%; /* Ajoute un espace en haut */
}
.App-header .App-descri img{
  margin: 0;
  padding: 0;
}
.App-header .App-welcom img{
  margin-top: 0;
  box-sizing: border-box;
}
