.Form-conx{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    margin-top: 5% auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.FormLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex: 1; 
}

.App-logo{
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
  
.App-logo img {
  max-width: 100%;
  height: auto;
}

.FormImag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1px;
    padding: 20px;
  }

.Img-conx img {
    max-width: 100%;
    height: auto;
    display: block;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #000000;
  font-weight: bold;

}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Form-quest{
  display: flex;
  flex-direction: row;
}

/* petits écrans */
@media (max-width: 768px) {
  .Form-conx {
      flex-direction: column;
      margin: 2% auto;
      padding: 10px;
  }

  .FormLog, .FormImag {
      flex: none;
      width: 100%; 
      padding: 10px;
  }

  .App-logo img {
      width: 80%;
  }

  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 1rem; 
  }
}

/* Mobiles */
@media (max-width: 480px) {
  .App-logo img {
      width: 70%; 
  }

  h1 {
      font-size: 1.2rem; 
  }

  p {
      font-size: 0.9rem;
  }

  .FormImag img {
      width: 90%; 
  }
}